.skip-to-content {
    position: absolute;
 top:-30px;/* Hide off-screen initially */
    left: 10px;
    background-color: #000;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    z-index: 100;
    transition: top 0.1s ease;
  }

  .skip-to-content:focus{
    top: 10px; /* Move into view when focused */
    outline: #000;
  }