nav a{
    width:10%;
background-color:greenyellow;
}
nav img{
    width:10%;
}

nav{
    
    width:80%;
    display: inline-block;
    background-color: aquamarine;
}
.grid{
    display: grid;
grid-template-columns: 40% 40%;
justify-content: center;
align-items:end;
row-gap:50%;
}
.grid img{
    width:100%;
}
